{% extends 'base.html.twig' %}

{% block title %}Users
{% endblock %}

{% block body %}
	<div class="row my-5">
		<div class="col-md-10 mx-auto">
			{% for message in app.flashes('success') %}
				<div class="alert alert-success">
					{{message}}
				</div>
			{% endfor %}
			<div class="card">
				<div class="card-header d-flex justify-content-between align-item-center">
					users
				</div>
			</div>
			<div class="card-body ">
				<table class="table table-bordered table-hover ">
					<thead>
						<tr>
							<th>Id</th>
							<th>User_name</th>
							<th>Email</th>
							<th>Tele</th>


							<th>Action</th>
						</tr>
					</thead>
					<tbody class="text-align--center">

						{% for user in users %}
							{% if  'ROLE_ADMIN' not in user.getRoles()    %}

								<tr>
									<td>{{loop.index}}</td>
									<td>{{user.getUsername()}}</td>
									<td>{{user.getEmail()}}</td>
									<td>{{user.getTele()}}</td>
									<td></td>
									<td class="d-flexjustify-content-aroundalign-items-center">
										<form id="{{user.id}}" action="{{path('user_delete',{id:user.id})}}" method="post"></form>
										<button onclick="deleteItem('{{user.id}}')" class="btn btn-sm btn-danger">delete</button>


									</td>

								{% endif %}


							{% endfor %}
						</tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
